.page {
    margin: 40px auto;
    padding: 40px;
    width: 980px;
    box-sizing: border-box;
    border: 1px solid #31a2d9;
}

.page__block:first-child {
    margin-top: 0;
}

.page__block {
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
}
